@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");
/* Definimos las Custom properties */
:root {
  /* Colores */
  --primary: #490617;
  --secondary: #0c0404;
  --black: #2d2d2d;
  --gray: #9b9b9b;
  --ligth-gray: #ede4e5;
  --white: #fafafa;
  --gradient-primary: linear-gradient(180deg, #d34444 0%, #7b1824 61.98%, #4d0918 100%);
  --gradient-secondary: linear-gradient(180deg, #521818 0%, #41050c 61.98%, #310c14 100%);
  --gradient-opacity: linear-gradient(180deg, #d3444400 0%, #4d0918 100%);
  /* Tipografía */
  --type-primary: "Inter", sans-serif;
}

/* (Opcional) Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root{
      --black         : #ececec;
  }
} */
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* @media (prefers-contrast: high){
    :root{}
} */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
} */
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--primary);
  color: var(--white);
}
::selection {
  background-color: var(--primary);
  color: var(--white);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /*  appearance: none; */
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--type-primary);
  color: var(--black);
  background-color: var(--white);
  /* (Opcional) */
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--ligth-gray);
  background-color: var(--white);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}
.header-content {
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 1920px) {
  .header-content {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1440px) {
  .header-content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .header-content {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 900px) {
  .header-content {
    font-size: 0.756rem;
  }
}
@media screen and (max-width: 800px) {
  .header-content {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 768px) {
  .header-content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .header-content {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 375px) {
  .header-content {
    font-size: 0.756rem;
  }
}
@media screen and (max-width: 320px) {
  .header-content {
    font-size: 0.7rem;
  }
}
.header-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.header-symbol {
  width: 4.6em;
}
.header-symbol svg {
  fill: var(--primary);
}
.header-title {
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 800;
  margin-bottom: 0.1em;
  color: var(--primary);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-tagline {
  font-size: 0.75em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-nav {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
    position: absolute;
    width: 92%;
    left: 0;
    right: 0;
    top: 100%;
    margin: 1em auto;
    border-radius: 1rem;
    background: var(--gradient-primary);
  }
  .header-nav.menu-show {
    display: block;
  }
}
.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
@media screen and (max-width: 768px) {
  .header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}
.header-li {
  position: relative;
}
.header-li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 4px;
  border-radius: 4px;
  background-color: var(--primary);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.header-li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media screen and (max-width: 768px) {
  .header-li {
    width: 100%;
  }
  .header-li:not(:last-child) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  .header-li::after {
    display: none;
  }
}
.header-a {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  position: relative;
  padding: 1em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-a:hover {
  color: var(--primary);
}
@media screen and (max-width: 768px) {
  .header-a {
    font-size: 1em;
    padding: 1.6em 0;
    color: var(--white);
  }
}
.header-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-link {
  font-size: 1em;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  outline: 0.25rem solid var(--white);
  border-radius: 1rem;
  padding: 1rem;
  scale: 1;
  color: var(--white);
  background: var(--gradient-primary);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-link:hover {
  outline-color: var(--ligth-gray);
  background: var(--gradient-secondary);
}
.header-link:active {
  scale: 0.95;
  background-color: var(--primary);
}
@media screen and (max-width: 768px) {
  .header-link {
    display: none;
  }
}
.header-svg {
  fill: var(--white);
  width: 1.5em;
}
.header-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-button {
    display: block;
    border-radius: 1rem;
    padding: 1em;
    background: var(--gradient-primary);
    color: var(--white);
  }
}

.hero {
  position: relative;
  padding: 1rem;
  margin-top: 7rem;
}
.hero-content {
  position: relative;
  width: 100%;
  height: 640px;
  border-radius: 1rem;
  overflow: hidden;
  background: url("../assets/hero-background.png") center center/cover;
}
@media screen and (max-width: 1440px) {
  .hero-content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .hero-content {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 960px) {
  .hero-content {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .hero-content {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-content {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 425px) {
  .hero-content {
    font-size: 0.7rem;
  }
}
.hero-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  z-index: 1;
  text-align: center;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .hero-info {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .hero-info {
    width: 100%;
  }
}
.hero-tag {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  color: var(--white);
  background-color: #000;
}
.hero-titles {
  width: 100%;
  position: relative;
  height: 6rem;
}
.hero-title {
  position: absolute;
  width: 100%;
  font-size: clamp(2em, 1.5714em + 2.1429vw, 2.5em);
  font-family: var(--type-secondary);
  font-weight: 800;
  color: var(--white);
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.hero-title.active {
  opacity: 1;
}
.hero-description {
  font-size: 1.2em;
  color: var(--white);
  line-height: 1.6em;
}
.hero-link {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--white);
  padding: 1rem 2rem;
  outline: 2px solid var(--ligth-gray);
  border-radius: 1rem;
  scale: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.hero-link:hover {
  background-color: #000;
  outline-color: var(--principal);
  outline: 2px solid var(--black);
}
.hero-link:active {
  scale: 0.95;
}
.hero-images {
  position: relative;
  height: 100%;
}
.hero-image {
  position: absolute;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center top;
     object-position: center top;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.hero-image.active {
  opacity: 1;
}

.features-content {
  max-width: 80%;
  margin: 0 auto 4rem;
}
.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2em 1fr 2em 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1024px) {
  .features-grid {
    gap: 1em;
  }
}
@media screen and (max-width: 768px) {
  .features-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .features-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.features-item {
  border-radius: 1rem;
  text-align: center;
  padding: 4rem 4rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.features-item:not(:last-child) {
  background-color: var(--white);
}
.features-item:last-child {
  background-color: var(--principal);
  background: var(--gradients-gradient, linear-gradient(180deg, #D35544 0%, #7B1824 61.98%, #4D0918 100%));
  color: var(--white);
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: -3;
  grid-column-end: -1;
  outline: 0.25em solid var(--white);
}
@media screen and (max-width: 768px) {
  .features-item:last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: -2;
    grid-column-end: -1;
  }
}
.features-item:hover {
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}
.features-icon {
  width: 6rem;
  margin: 0 auto;
}
.features-title {
  font-size: 1.625em;
  font-weight: 600;
  margin: 0.5em 0;
}
.features-description {
  line-height: 1.5rem;
}

.advisories .header-section {
  position: sticky;
  padding: 1em;
  top: 100px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advisories .header-section__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.advisories .header-section__covers {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 auto;
}
.advisories .header-section__cover {
  max-width: 640px;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  background-color: var(--principal);
  background: var(--gradients-gradient, linear-gradient(180deg, #D35544 0%, #7B1824 61.98%, #4D0918 100%));
}
.advisories-controls {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advisories-button {
  cursor: pointer;
  padding: 0.4em;
}
.advisories-button.active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.advisories-button.active:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.advisories-button.inactive {
  cursor: default;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.2;
}
.advisories-arrow {
  width: 4em;
  height: auto;
  stroke: var(--principal);
}
.advisories-programs {
  max-width: 1120px;
  margin: 0 auto;
}
.advisories-program-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 260px;
}
.advisories-program-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2em;
}
.advisories-program-title {
  font-size: 2em;
  font-family: var(--type-secondary);
  font-weight: 700;
  margin-bottom: 0.5em;
}
.advisories-program-description {
  line-height: 1.5em;
  margin-bottom: 1em;
}
.advisories-program-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.advisories-program-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.advisories-program-svg {
  width: 1em;
  height: 1em;
}
.advisories-program-text {
  font-size: 0.9em;
}
.advisories-program-modules {
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
  grid-template-columns: repeat(3, 1fr);
}
.advisories-program-module {
  border-radius: 1em;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding-bottom: 2em;
}
.advisories-program-module:hover {
  -webkit-box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
}
.advisories-program-module-title {
  margin: 1em 0;
  padding: 0 2em;
  font-size: 1.3em;
  font-weight: 600;
}
.advisories-program-module-description {
  padding: 0 2.4em;
  font-size: 1.1em;
  line-height: 1.5em;
}
.advisories-program h3 {
  font-family: var(--type-principal);
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
}

.delivery {
  max-width: 960px;
  margin: 3em auto;
}
.delivery-item {
  padding: 3em;
  border-radius: 1em;
  color: var(--white);
  background-color: var(--principal);
  background: var(--gradients-gradient, linear-gradient(180deg, #D35544 0%, #7B1824 61.98%, #4D0918 100%));
}
.delivery-title {
  font-size: 1.2em;
  margin-bottom: 1em;
}
.delivery-subtitle {
  margin-bottom: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}
.delivery-subtitle svg {
  width: 24px;
}
.delivery-list {
  padding-left: 2em;
  margin-bottom: 1em;
  font-size: 1.1em;
}
.delivery-bullet {
  list-style-type: disc;
  margin-bottom: 0.6em;
}
.delivery-buttons {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}
.delivery-buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  padding: 1em;
}
.delivery-buttons a:first-child {
  border-radius: 1em;
  background-color: var(--white);
  color: #000;
}
.delivery-buttons a:last-child {
  border-radius: 1em;
  background-color: #000;
  color: var(--white);
}

/* 
.programs {
	background-color: darkslateblue;
	&-cover {
		padding: 4rem 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		background-color: lightcoral;
	}
	&-controls {
		margin-top: 1rem;
		@include flex(row, nowrap, center, start);
		gap: .5rem;
	}
	&-arrow {
		width: 4em;
		height: 4em;
	}
	&-slides {
	}
	&-slide {
		color: var(--white);
		@include flex(row, nowrap, space-between, center);
		border-radius: 1rem;
		overflow: hidden;
		background-color: var(--principal);
	}
	&-image {
		max-width: 50%;
		height: auto;
		object-fit:contain;
	}
	&-info {
		padding: 1em;
	}
	&-title {

	}
	&-description {

	}
	&-bullets {

	}
	&-bullet {
		@include flex(row, nowrap, start, center);
		gap: .5em;
	}
	&-svg {

	}
	&-text {

	}	
}
 */
.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960px;
  margin: 8rem auto;
  border-radius: 1rem;
}
@media screen and (max-width: 768px) {
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 480px) {
  .about-image {
    padding: 0 2rem;
  }
}
.about-img {
  margin: 0 auto;
  max-width: 340px;
}
.about-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2rem;
}
@media screen and (max-width: 480px) {
  .about-info {
    padding: 0 1rem;
  }
}
.about-title {
  font-size: 2em;
  font-weight: 600;
  margin: 0.5em 0;
}
.about-paragraphs {
  line-height: 1.4rem;
  margin-bottom: 1em;
}
.about-bullets {
  padding: 0 1em;
}
@media screen and (max-width: 768px) {
  .about-bullets {
    padding: 0;
  }
}
.about-bullet {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 1rem;
}
.about-icon {
  width: 46px;
}
.about-svg {
  stroke: var(--principal);
}
.about-text {
  font-size: 0.954em;
  line-height: 1.4em;
}

.testimonials-slides {
  margin-bottom: 4rem;
}
.testimonials-slide {
  margin: 0 auto;
  max-width: 960px;
  padding: 6rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.testimonials-slide:hover {
  -webkit-box-shadow: 0 0 2em rgba(133, 106, 106, 0.12);
          box-shadow: 0 0 2em rgba(133, 106, 106, 0.12);
}
@media screen and (max-width: 768px) {
  .testimonials-slide {
    padding: 4rem;
  }
}
@media screen and (max-width: 480px) {
  .testimonials-slide {
    padding: 2rem;
  }
}
.testimonials-image {
  max-width: 8rem;
}
.testimonials-name {
  font-size: 1.5em;
  font-weight: 600;
}
.testimonials-rol {
  color: var(--gray);
  font-size: 0.9em;
}
.testimonials-paragraph {
  max-width: 560px;
  line-height: 1.5rem;
}

.faqs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--principal);
  background: var(--gradients-gradient, linear-gradient(180deg, #D35544 0%, #7B1824 61.98%, #4D0918 100%));
  max-width: 960px;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2em;
}
.faqs-item {
  border-bottom: 1px solid rgba(211, 167, 167, 0.2862745098);
  width: 100%;
  color: var(--white);
}
.faqs-question {
  width: 100%;
  padding: 1.4rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* 	&:hover {
  		background-color: #210404;
  	}

  	&__active {
  		background-color: #210404;
  	} */
}
.faqs-title {
  text-align: left;
  display: block;
  width: 100%;
}
.faqs-icon {
  width: auto;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.faqs-icon__active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faqs-answer {
  /* background-color: var(--principal); */
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.faqs-answer p {
  padding: 1.4rem;
}
.faqs-text {
  line-height: 1.5em;
}
.faqs-list {
  padding: 0 0 1em 3em;
  line-height: 1.6em;
}
.faqs-bullet {
  list-style: disc;
}

.footer {
  margin-top: 4em;
  padding: 0 2em;
}
.footer-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .footer-brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-logo {
  max-height: 40px;
  width: auto;
  margin-bottom: 1em;
}
.footer-legals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .footer-legals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 768px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0rem;
  }
}
.footer-bullet a {
  text-decoration: underline;
  margin-bottom: 1em;
}
.footer-bullet a:hover {
  color: var(--principal);
}

.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

h2, h3 {
  font-family: var(--type-secondary);
}

.header-section {
  margin: 6em 0;
}
.header-section-title {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .header-section-title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 768px) {
  .header-section-title {
    font-size: 2rem;
  }
}

.features,
.advisories,
.about,
.testimonials {
  scroll-margin-top: 120px;
}