@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --principal: #490617;
  --secondary: #0c0404;
  --black: #2d2d2d;
  --gray: #9b9b9b;
  --ligth-gray: #ede4e5;
  --white: #fafafa;
  /* Tipografía */
  --type-princpial: "Inter", sans-serif;
  --type-secondary: "Crimson Pro";
}

/* (Opcional) Las adaptamos al modo oscuro */
/* @media (prefers-color-scheme: dark) {
  :root{
      --black         : #ececec;
  }
} */
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* @media (prefers-contrast: high){
    :root{}
} */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
/* @media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
} */
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  /* scroll-behavior: smooth; */
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--principal);
  color: var(--white);
}
::selection {
  background-color: var(--principal);
  color: var(--white);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /*  appearance: none; */
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--type-princpial);
  color: var(--black);
  background-color: var(--white);
  /* (Opcional) */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--ligth-gray);
  -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  background-color: var(--white);
}
@media screen and (max-width: 1024px) {
  .header {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 900px) {
  .header {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 800px) {
  .header {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 768px) {
  .header {
    font-size: 1em;
  }
}
.header-content {
  position: relative;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-title {
  font-size: 1.5em;
  line-height: 1em;
  font-weight: 700;
  margin-bottom: 0.1em;
  color: var(--principal);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-tagline {
  font-size: 0.625em;
  font-family: var(--type-secondary);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-nav {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 1em auto;
    border-radius: 1rem;
    background-color: var(--principal);
  }
  .header-nav.menu-show {
    display: block;
  }
}
.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 768px) {
  .header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}
.header-li {
  position: relative;
}
.header-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: var(--principal);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.header-li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media screen and (max-width: 768px) {
  .header-li {
    width: 100%;
  }
  .header-li:not(:last-child) {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }
  .header-li::after {
    display: none;
  }
}
.header-a {
  position: relative;
  padding: 1em;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-a:hover {
  color: var(--principal);
}
@media screen and (max-width: 768px) {
  .header-a {
    font-size: 1.2em;
    padding: 1.6em 0;
    color: var(--white);
  }
  .header-a:hover {
    color: var(--white);
  }
}
.header-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1em;
  background-color: var(--principal);
  color: var(--white);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-link:hover {
  background-color: var(--secondary);
}
@media screen and (max-width: 768px) {
  .header-link {
    display: none;
  }
}
.header-svg {
  width: 1.5em;
}
.header-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-button {
    display: block;
    border-radius: 1rem;
    padding: 1em;
    background-color: var(--principal);
    color: var(--white);
  }
}

.wrapper {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}