@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --color-yellow: #B49614;
  --color-black: #050401;
  --color-white: #fafafa;
  --color-border: #0504010e;
  --color-shadow: #0504011c;
  /* 

  --black: #050401;
  --gray: #9b9b9b;


  --gradient-primary: linear-gradient(180deg, var(--primary) 0%, #87710e 100%);
  --gradient-secondary: linear-gradient(180deg, #2d2d2d 0%, var(--secondary) 100%);
  --gradient-opacity: linear-gradient(180deg, #d3444400 0%, #b49614 70%); 

  */
  /* Tipografía */
  --type-primary: "Poppins", sans-serif;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--color-black);
  color: var(--color-white);
}
::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /*  appearance: none; */
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--type-primary);
  color: var(--color-black);
  background-color: var(--color-white);
  /* (Opcional) */
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-border);
  -webkit-box-shadow: 0 0 1rem var(--color-shadow);
          box-shadow: 0 0 1rem var(--color-shadow);
  /* Navbar Menu Elements */
  /* Navbar Extra Elements */
}
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
.header-brand {
  min-width: 12rem;
  max-width: 14rem;
}
.header-nav {
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    width: 96%;
    margin: 1rem auto 0 auto;
    background-color: var(--color-yellow);
    border-radius: 1rem;
  }
  .header-nav.menu-show {
    display: block;
  }
}
.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .header-ul {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}
.header-li {
  position: relative;
}
.header-li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 3px;
  background-color: var(--color-yellow);
  border-radius: 4px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.header-li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
@media screen and (max-width: 768px) {
  .header-li {
    width: 100%;
  }
  .header-li:not(:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
  .header-li::after {
    display: none;
  }
}
.header-a {
  position: relative;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header-a:hover {
  color: var(--color-yellow);
}
@media screen and (max-width: 1024px) {
  .header-a {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .header-a {
    padding: 2rem 0;
    color: var(--color-white);
  }
  .header-a:hover {
    color: var(--color-white);
  }
}
.header-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: var(--color-white);
  background-color: var(--color-yellow);
  border-radius: 1rem;
  scale: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header-link:hover {
  background-color: var(--color-black);
  scale: 1.05;
}
.header-link:active {
  background-color: var(--color-yellow);
  scale: 0.95;
}
@media screen and (max-width: 768px) {
  .header-link {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100vh;
    display: block;
    width: 96%;
    margin: 0 auto 6rem auto;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--color-yellow);
  }
  .header-link:hover {
    scale: 1;
    background-color: var(--color-yellow);
  }
  .header-link:active {
    scale: 1;
    background-color: var(--color-yellow);
  }
}
.header-svg {
  width: 1.5em;
  fill: var(--color-white);
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .header-svg {
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    vertical-align: middle;
  }
}
.header-button {
  display: none;
}
@media screen and (max-width: 768px) {
  .header-button {
    display: block;
    padding: 1em;
    background-color: var(--color-yellow);
    color: var(--color-white);
    border-radius: 1rem;
  }
  .header-button:hover {
    background-color: var(--color-yellow);
  }
  .header-button:active {
    background-color: var(--color-yellow);
  }
}

.hero {
  padding-top: 1rem;
}
.hero-content {
  overflow: hidden;
  border-radius: 1rem;
}
.hero-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-left: -100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.hero-image:first-child {
  margin-left: 0;
}
.hero-image.active {
  opacity: 1;
}

.features-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr 1rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media screen and (max-width: 1024px) {
  .features-grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .features-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.features-item {
  padding: 4rem;
  text-align: center;
  border-radius: 1rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.features-item:not(:last-child) {
  background-color: var(--color-white);
}
.features-item:last-child {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: -3;
  grid-column-end: -1;
  background-color: var(--color-yellow);
  color: var(--color-white);
  outline: 0.25rem solid var(--color-white);
}
@media screen and (max-width: 1024px) {
  .features-item:last-child {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: -2;
    grid-column-end: -1;
  }
}
.features-item:hover {
  -webkit-box-shadow: 0 0 1rem var(--color-shadow);
          box-shadow: 0 0 1rem var(--color-shadow);
}
@media screen and (max-width: 768px) {
  .features-item {
    padding: 2rem;
  }
}
.features-icon {
  width: 6rem;
  margin: 0 auto;
}
.features-title {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
.features-description {
  line-height: 1.5rem;
}

.advisories {
  background-color: var(--color-white);
  /* background-color: red; */
}
.advisories .header-section {
  position: sticky;
  top: 0;
  z-index: 200;
  padding-top: 7rem;
  margin-bottom: 1rem;
  background-color: var(--color-white);
  /* background-color: blue */
}
.advisories-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.advisories-button {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.advisories-button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.advisories-button:disabled {
  cursor: default;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.2;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.advisories-arrow {
  width: 3.2rem;
  height: auto;
  stroke: var(--color-yellow);
}
.advisories-programs {
  width: 100%;
  /* 	@include media(768px) {
  		height: 1200px
  	}

  	@include media(480px) {
  		height: 1600px
  	} */
}
.advisories-program {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}
.advisories-program > h5 {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.4rem;
  font-weight: 600;
}
.advisories-program.active {
  display: block;
}
.advisories-program:first-child {
  margin-left: 0;
}
.advisories-cover {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2rem;
}
@media screen and (max-width: 480px) {
  .advisories-cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 2rem;
  }
}
.advisories-cover-image {
  min-width: 16rem;
  border-radius: 1rem;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .advisories-cover-image {
    max-width: 200px;
    margin: 0 auto;
  }
}
.advisories-cover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .advisories-cover-content {
    padding: 0 1rem;
  }
}
.advisories-cover-title {
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--color-yellow);
}
.advisories-cover-description {
  font-size: 1rem;
}
.advisories-cover-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.advisories-cover-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.advisories-cover-svg {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--color-yellow);
}
.advisories-cover-text {
  text-align: left;
  font-size: 1rem;
}
.advisories-cover-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.advisories-cover-buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.advisories-cover-buttons a:first-child {
  padding: 1rem;
  border-radius: 1em;
  background-color: var(--color-yellow);
  color: var(--color-white);
  scale: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.advisories-cover-buttons a:first-child:hover {
  background-color: var(--color-black);
  scale: 1.05;
}
.advisories-cover-buttons a:first-child:active {
  background-color: var(--color-yellow);
  scale: 0.95;
}
.advisories-cover-buttons a:last-child {
  font-size: 0.9rem;
  background-color: var(--color-white);
  color: #000;
}
.advisories-cover-buttons a:last-child:hover {
  color: var(--color-yellow);
}
.advisories-cover-buttons a svg {
  width: 1.3rem;
}
.advisories-modules {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  /* 	scroll-behavior: auto;
  	overflow-y: auto;
  	overscroll-behavior-x: contain;
  	scroll-snap-type: x mandatory;
  	scrollbar-width: none; */
  /* 		padding: 2rem;

  		&::-webkit-scrollbar {
  			display: none;
  		} */
}
.advisories-module {
  min-width: 300px;
  border-radius: 1em;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: #FFF;
}
.advisories-module:hover {
  -webkit-box-shadow: 0 0 1rem var(--color-shadow);
          box-shadow: 0 0 1rem var(--color-shadow);
}
.advisories-module-title {
  width: 80%;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 600;
}
.advisories-module-description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.advisories-delivery {
  max-width: 900px;
  padding: 3rem;
  border-radius: 1rem;
  width: 80%;
  margin: 1rem auto 0 auto;
  color: var(--color-white);
  background-color: var(--color-yellow);
}
@media screen and (max-width: 1024px) {
  .advisories-delivery {
    width: 90%;
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .advisories-delivery {
    width: 100%;
    padding: 1rem;
  }
}
.advisories-delivery-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.advisories-delivery-subtitle {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.advisories-delivery-subtitle svg {
  width: 24px;
}
.advisories-delivery-list {
  padding-left: 2rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.advisories-delivery-bullet {
  list-style-type: disc;
  margin-bottom: 0.6em;
}

.about-content {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.about-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.about-img {
  margin: 0 auto;
  max-width: 400px;
}
.about-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media screen and (max-width: 768px) {
  .about-info {
    padding: 1rem;
  }
}
.about-title {
  font-size: 2.2rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
.about-paragraphs {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}
.about-bullets {
  padding: 0 1rem;
}
@media screen and (max-width: 768px) {
  .about-bullets {
    padding: 0;
  }
}
.about-bullet {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  gap: 1rem;
}
.about-icon {
  width: 46px;
}
.about-svg {
  stroke: var(--color-yellow);
}
.about-text {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.testimonials-container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .testimonials-container {
    width: 100%;
  }
}
.testimonials-slides {
  width: 500%;
  height: 500px;
  margin-left: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .testimonials-slides {
    height: 600px;
  }
}
.testimonials-slide {
  height: inherit;
  width: 100%;
  padding: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 480px) {
  .testimonials-slide {
    padding: 0 1rem;
  }
}
.testimonials-slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  outline: 1px solid var(--color-border);
  border-radius: 1rem;
  text-align: center;
  padding: 2rem;
}
.testimonials-image {
  max-width: 8rem;
}
.testimonials-name {
  font-size: 1.5em;
  font-weight: 600;
}
.testimonials-rol {
  color: var(--color-yellow);
  font-size: 0.8em;
}
.testimonials-paragraph {
  max-width: 560px;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.faqs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
  padding: 2rem;
}
@media screen and (max-width: 1024px) {
  .faqs-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .faqs-container {
    max-width: 100%;
    padding: 0;
  }
}
.faqs-item {
  font-size: 1.1rem;
  border: 1px solid var(--color-border);
  width: 100%;
  color: var(--color-black);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.faqs-question {
  width: 100%;
  padding: 1.4rem;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.faqs-question:hover {
  background-color: var(--color-yellow);
}
.faqs-question__active {
  background-color: var(--color-yellow);
}
.faqs-title {
  text-align: left;
  display: block;
  width: 100%;
}
.faqs-icon {
  width: auto;
  display: block;
  width: 20px;
  height: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.faqs-icon__active {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faqs-answer {
  background-color: var(--color-border);
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
.faqs-answer p {
  padding: 1.4rem;
}
.faqs-text {
  line-height: 1.5rem;
}
.faqs-list {
  padding: 0 0 1rem 3rem;
  line-height: 1.6rem;
}
.faqs-bullet {
  list-style: disc;
}

.footer-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-bottom: 1rem;
}
.footer-brands :first-child {
  max-height: 40px;
  width: auto;
}
.footer-brands :last-child {
  max-height: 25px;
  width: auto;
}
@media screen and (max-width: 480px) {
  .footer-brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
}
.footer-legals {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .footer-legals {
    margin-bottom: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .footer-legals {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 480px) {
  .footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-bullet a {
  text-decoration: underline;
}
.footer-bullet a:hover {
  color: var(--primary);
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 96%;
  }
}

.header-section {
  margin: 4em 0;
}
.header-section-title {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .header-section-title {
    font-size: 1.8rem;
  }
}

.features,
.about,
.testimonials {
  scroll-margin-top: 8rem;
}

.main {
  margin-top: 6rem;
}