@import 'partials/reset' , 'partials/mixins';

@import 'components/header';
@import 'components/hero';
@import 'components/features';
@import 'components/programs';
@import 'components/about';
@import 'components/testimonials';
@import 'components/faqs';
@import 'components/footer';




.wrapper {
	width: 90%;
	max-width: 1440px;
	margin: auto;

	@include media(1024px) {
		width: 96%;
	}
}


.header-section {
	margin: 4em 0;
	
	&-title {
		max-width: 640px;
		margin: 0 auto;

		text-align: center;
		font-size: 2.2rem;
		font-weight: 700;

		@include media(480px) {font-size: 1.8rem;}
	}
}

.features,

.about,
.testimonials {
	scroll-margin-top: 8rem;
}

.main {
	margin-top: 6rem;
}