@mixin border() {
	border-bottom: 1px solid var(--color-border);
}

@mixin shadow() {
	box-shadow: 0 0 1rem var(--color-shadow);
}

@mixin flex($dir, $wrap, $just, $aling) {
	display: flex;
	flex-flow: $dir $wrap;
	justify-content: $just;
	align-items: $aling;
}

@mixin media($value : 700px) {
	@media screen and (max-width : $value) {
		@content
	}
}