@mixin flex($dir, $wrap, $just, $aling) {
	display: flex;
	flex-flow: $dir $wrap;
	justify-content: $just;
	align-items: $aling;
}

@mixin media ($value : 700px) {
	@media screen and (max-width : $value) {
		@content	
	}
}