.about {

	&-content {
		max-width: 960px;
		margin: 0 auto;
		
		@include flex(row, nowrap, center, center);

		@include media(768px) {
			@include flex(column, nowrap, center, center);
		}
	}

	&-image {
		flex: 1;
	}

	&-img {
		
		margin: 0 auto;
		max-width: 400px;
	}

	&-info {

		flex: 1;

		
		@include media(768px) {
			padding: 1rem;
		}
	}

	&-title {
		font-size: 2.2rem;
		font-weight: 800;
		margin-bottom: .5rem;
	}

	&-paragraphs {
		font-size: 1rem;
		line-height: 1.4rem;
		margin-bottom: 2rem;
	}

	&-bullets {
		padding: 0 1rem;

		@include media(768px) {
			padding: 0;
		}
	}

	&-bullet {
		margin-bottom: 1rem;

		@include flex(row, nowrap, start, top);
		gap: 1rem;
	}

	&-icon {
		width: 46px;
	}

	&-svg {
		stroke: var(--primary);
	}

	&-text {
		font-size: .9rem;
		line-height: 1.2rem;
	}
}