.faqs {

	&-container {

		max-width: 80%;
		@include flex(column, nowrap, center, center);
	

		background: var(--gradient-primary);

		margin: 2rem auto;
		border-radius: 1rem;
		overflow: hidden;
		padding: 2rem;

		@include media(1024px) {max-width: 90%;}
		@include media(480px) {max-width: 100%; padding:0;}
	}

	&-item {
		
		border-bottom: 1px solid #d3a7a749;
		width: 100%;
		color: var(--white);
		
	}

	&-question {
		width: 100%;
		padding: 1.4rem;
		outline: none;
		
		@include flex(row, nowrap, space-between, center);
		cursor: pointer;

		transition: 0.4s;

		&:hover {
			background-color: #2104045e;;
		}

		&__active {
			background-color: #2104045e;
		} 
	}

	&-title {
		text-align: left;
		display: block;
		width: 100%;
	}

	&-icon {
		width: auto;
		display: block;
		width: 20px;
		height: 20px;
		transition: 0.4s;

		&__active {
			transform: rotate(90deg);
		}
	}

	&-answer {
		/* background-color: var(--principal); */
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;

		& p {
			padding: 1.4rem;
		}
	}

	&-text {
		line-height: 1.5rem;
	}
	&-list {
		padding: 0 0 1rem 3rem;
		line-height: 1.6rem;
	}
	&-bullet {
		list-style: disc;
	}
}