.faqs {

	&-container {

		
		@include flex(column, nowrap, center, center);
	



		margin: 2rem auto;
		border-radius: 1rem;
		overflow: hidden;
		padding: 2rem;

		@include media(1024px) {max-width: 90%;}
		@include media(480px) {max-width: 100%; padding:0;}
	}

	&-item {
		font-size: 1.1rem;
		width: 100%;
		color: var(--color-black);

		overflow: hidden;
		margin-bottom: 1rem;

		@include border();
		@include border-radius();
		@include transition();

		&:hover {
			@include shadow();
		}
	}

	&-question {
		width: 100%;
		padding: 1.4rem;
		outline: none;
		
		@include flex(row, nowrap, space-between, center);
		cursor: pointer;

		transition: 0.4s;

		&:hover {
			background-color: var(--color-yellow);

		}

		&__active {
			background-color: var(--color-yellow);
		} 
	}

	&-title {
		text-align: left;
		display: block;
		width: 100%;
	}

	&-icon {
		width: auto;
		display: block;
		width: 20px;
		height: 20px;
		transition: 0.4s;

		&__active {
			transform: rotate(90deg);
		}
	}

	&-answer {
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;

		& p {
			padding: 1.4rem;
		}
	}

	&-text {
		line-height: 1.5rem;
	}
	&-list {
		padding: 0 0 1rem 3rem;
		line-height: 1.6rem;
	}
	&-bullet {
		list-style: disc;
	}
}