.features {
	&-content {}
	&-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;

		@include media (1024px) {grid-template-columns: repeat(2, 1fr);}
		@include media (480px) {grid-template-columns: 1fr;}
	}
	&-item {
		padding: 4rem;

		text-align: center;

		border-radius: 1rem;
		
		transition: all .6s ease;

		&:not(:last-child){
			background-color: var(--white);
		}

		&:last-child{
			grid-column-start: 2;
			grid-column-end: -1;

			background: var(--gradient-primary);
			color: var(--white);
			outline: .25rem solid var(--white);
			
			@include media (1024px) {
				grid-column-start: 1;
				grid-column-end: -1;
			}
			
		}
		&:hover {
			box-shadow: 0 0 1.5em rgba(0, 0, 0, .2);
		}

		@include media (768px) {
			padding: 2rem;
		}
	}
	&-icon {
		width: 6rem;
		margin: 0 auto;
	}
	&-title {
		font-size: 1.4rem;
		font-weight: 600;
		margin: .5rem 0;
	}
	&-description {
		line-height: 1.5rem;
	}
}
	