.footer {

	&-brands {
		@include flex(row, nowrap, center, center);
		gap: 3rem;
		
		margin-bottom: 1rem;
	
		:first-child {
			max-height: 40px;
			width: auto;

		}
		:last-child  {
			max-height: 25px;
			width: auto;

		}


		@include media(480px) {
			@include flex(column, nowrap, center, center);
			gap: 1rem;
			
		}
	}

	&-logo {}
	

	&-legals {
		margin-bottom: 1rem;
		@include flex(row, nowrap, center, center);

		@include media(768px) {
			margin-bottom: 6rem;
		}
		@include media(480px) {
				@include flex(column, nowrap, center, center);
			}
	}

	&-list {
		@include flex(row, nowrap, start, center);
		gap: 1rem;
		@include media(480px) {
				@include flex(column, nowrap, center, center);

			}
	}

	&-bullet a {
		text-decoration: underline;
		&:hover {
			color: var(--primary);
		}
	}

	
}