.header {
	width: 100%;
	position: fixed;
	top: 0;
	border-bottom: 1px solid var(--ligth-gray);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
	background-color: var(--white);

	@include media(1024px) {
		font-size: 0.875em;
	}

	@include media(900px) {
		font-size: 0.8125em;
	}

	@include media(800px) {
		font-size: 0.75em;
	}

	@include media(768px) {
		font-size: 1em;
	}

	&-content {
		position: relative;
		padding: 1em 0;
		@include flex(row, nowrap, space-between, center);
	}

	&-brand {}

	&-title {
		font-size: 1.5em;
		line-height: 1em;
		font-weight: 700;
		margin-bottom: 0.1em;
		color: var(--principal);
		transition: all 0.4s ease;
	}

	&-tagline {
		font-size: 0.625em;
		font-family: var(--type-secondary);
		text-transform: uppercase;
		letter-spacing: 0.3em;
		transition: all 0.4s ease;
	}

	&-nav {
		position: relative;

		@include media(768px) {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 100%;
			margin: 1em auto;
			border-radius: 1rem;
			background-color: var(--principal);

			&.menu-show {
				display: block;
			}
		}
	}

	&-ul {
		@include flex(row, nowrap, center, center);
		gap: 0.5rem;

		@include media(768px) {
			@include flex(column, nowrap, center, center);
			gap: 0;
		}
	}

	&-li {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 4px;
			width: 100%;
			height: 3px;
			border-radius: 4px;
			background-color: var(--principal);
			transform: scaleX(0);
			transform-origin: center;
			transition: transform 0.2s ease;
		}

		&:hover::after {
			opacity: 1;
			transform: scaleX(1);
		}

		@include media(768px) {
			width: 100%;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(250, 250, 250, 0.2);
			}

			&::after {
				display: none;
			}
		}
	}

	&-a {
		position: relative;
		padding: 1em;
		text-align: center;
		font-weight: 600;
		transition: all 0.4s ease;

		&:hover {
			color: var(--principal);
		}

		@include media(768px) {
			font-size: 1.2em;
			padding: 1.6em 0;
			color: var(--white);

			&:hover {
				color: var(--white);
			}
		}
	}

	&-side {
		@include flex(row, nowrap, end, center);
	}

	&-li__side {}

	&-link {
		@include flex(row, nowrap, center, center);
		gap: 0.5rem;
		border-radius: 1rem;
		padding: 1em;
		background-color: var(--principal);
		color: var(--white);
		transition: all 0.4s ease;

		&:hover {
			background-color: var(--secondary);
		}

		@include media(768px) {
			display: none;
		}
	}

	&-svg {
		width: 1.5em;
	}

	&-button {
		display: none;

		@include media(768px) {
			display: block;
			border-radius: 1rem;
			padding: 1em;
			background-color: var(--principal);
			color: var(--white);
		}
	}
}