.header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1000;

	border-bottom: 1px solid var(--ligth-gray);
	background-color: var(--white);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);

	&-content {
		padding: 1em 2em;
		@include flex(row, nowrap, space-between, center);

		@include media(1920px) 	{font-size: 1.2rem;	}		
		@include media(1440px) 	{font-size: 1rem;		}
		@include media(1024px) 	{font-size: 0.875em;}
		@include media(900px) 	{font-size: 0.756em;}		
		@include media(800px) 	{font-size: 0.7em;	}
		@include media(768px) 	{font-size: 1em;		} 
		@include media(425px) 	{font-size: .875em;	}
		@include media(375px) 	{font-size: .756em;	}
		@include media(320px) 	{font-size: .7em;		}
	}

	&-brand {
		@include flex(row, nowrap, start, center);
		gap: 1em;
	}

	&-symbol {
		width: 4.6em;
	}

	&-symbol svg {
		fill: var(--primary);
	}

	&-title {
		font-size: 1.7em;
		line-height: 1em;
		font-weight: 800;
		margin-bottom: 0.1em;
		color: var(--primary);

		transition: all 0.4s ease;

	}

	&-tagline {
		font-size: 0.75em;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.25em;

		transition: all 0.4s ease;
}

	&-nav {
		position: relative;

		@include media(768px) {
			display: none;
			position: absolute;
			width: 92%;
			left: 0;
			right: 0;
			top: 100%;
			margin: 1em auto;
			border-radius: 1rem;
			background: var(--gradient-primary);

			&.menu-show {
				display: block;
			}
		}
	}

	&-ul {
		@include flex(row, nowrap, center, center);
		gap: 0.5em;

		@include media(768px) {
			@include flex(column, nowrap, center, center);
			gap: 0;
		}
	}

	&-li {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 3px;
			left: 0;
			bottom: 4px;
			border-radius: 4px;
			background-color: var(--primary);
			transform: scaleX(0);
			transform-origin: center;
			transition: transform 0.2s ease;
		}

		&:hover::after {
			opacity: 1;
			transform: scaleX(1);
		}

		@include media(768px) {
			width: 100%;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(250, 250, 250, 0.2);
			}

			&::after {
				display: none;
			}
		}
	}

	&-a {
		font-size: 1em;
		font-weight: 600;
		text-align: center;

		position: relative;
		padding: 1em;
		transition: all 0.4s ease;

		&:hover {
			color: var(--primary);
		}

		@include media(768px) {
			font-size: 1em;
			padding: 1.6em 0;
			color: var(--white);
		}
	}

	&-side {
		@include flex(row, nowrap, end, center);
	}

	&-li__side {
	}

	&-link {
		font-size: 1em;
		font-weight: 600;

		@include flex(row, nowrap, center, center);
		gap: 0.5em;

		outline: 0.25rem solid var(--white);
		border-radius: 1rem;
		padding: 1rem;

		scale: 1;

		color: var(--white);
		background: var(--gradient-primary);

		transition: all 0.2s ease;

		&:hover {
			outline-color: var(--ligth-gray);
			background: var(--gradient-secondary);
		}

		&:active {
			scale: .95;
			background-color: var(--primary);
		}

		@include media(768px) {
			display: none;
		}
	}

	&-svg {
		fill: var(--white);
		width: 1.5em;
	}

	&-button {
		display: none;

		@include media(768px) {
			display: block;
			border-radius: 1rem;
			padding: 1em;
			background: var(--gradient-primary);
			color: var(--white);
		}
	}
}
