.hero {
	font-size: 1.2rem;
	margin-top: 8rem;

	transition: all 0.4s ease;

	@include media(1440px) { font-size: 1rem; }
	@include media(1024px) { font-size: .9rem; }
	@include media(768px) { font-size: .8rem; }
	@include media(520px) { font-size: .7rem; }
	@include media(480px) { font-size: 1rem; }

	&-content {
		@include flex(row, nowrap, center, stretch);
		gap: 2em;
		padding: 0 6em;
		border-radius: 1rem;
		overflow: hidden;
		background: url('../assets/hero-background.png') center center / cover;

		@include media(480px) {
			@include flex(column, nowrap, center, center);
		}
	}

	&-info {
		flex: 1;
		//background-color: green;
		@include flex(column, nowrap, center, start);
		gap: 1em;
	}


	&-tag {
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: .12em;
		padding: .6em 1em;
		border-radius: 1em;
		color: var(--white);
		background-color: #000;
	}

	&-titles {}

	&-title {
		font-size: 3.5em;
		font-family: var(--type-secondary);
		font-weight: 700;
		color: var(--white);
	}

	&-description {
		font-size: 1.3em;
		color: var(--white);
		line-height: 1.525em;
	}

	&-link {
		color: var(--white);
		padding: 1em 2em;
		outline: 2px solid var(--ligth-gray);
		border-radius: 1rem;

		scale: 1;
		transition: all 0.2s ease;

		&:hover {
			background-color: #000;
			outline-color: var(--principal);
			scale: 1.05;
		}
		&:active {
			scale: .96;
			background-color: var(--ligth-gray);
			color: var( --black);
		}
	}

	&-images {
		flex: 1;
		//background-color: blue;
	}

	&-image {
		/* 	width: 100%;
		object-fit:fill; */
	}
}