.hero {
	position: relative;
	padding: 1rem;
	transition: all 0.4s ease;


	&-content {
		position: relative;
		@include flex(row, nowrap, center, stretch);
		gap: 2em;
		border-radius: 1rem;
		overflow: hidden;
		background: url('../assets/hero-background.png') center center / cover;
		height: 640px;

		@include media(768px) {
				display: block;
		}
	}

	&-info {
		flex: 1;
		@include flex(column, nowrap, center, start);
		gap: 1.5rem;
		
		@include media(768px) {
			position: absolute;
		}
	}


	&-tag {
		font-size: .9em;
		text-transform: uppercase;
		letter-spacing: .3em;
		padding: .6rem 1rem;
		border-radius: 1rem;
		color: var(--white);
		background-color: #000;
	}

	&-titles {
		position: relative;
		width: 100%;
		height: 192px;
	}


	&-title {
		position: absolute;
		width: 100%;
		font-size: 3.5em;
		font-family: var(--type-secondary);
		font-weight: 800;
		color: var(--white);
		opacity: 0;
		transition: opacity 1s ease;
	}

	&-title.active {
		opacity: 1;
	}

	&-description {
		font-size: 1.2em;
		color: var(--white);
		line-height: 1.6em;
	}

	&-link {
		font-size: 1.1em;
		font-weight: 600;
		color: var(--white);
		padding: 1rem 2rem;
		outline: 2px solid var(--ligth-gray);
		border-radius: 1rem;

		scale: 1;
		transition: all 0.2s ease;

		&:hover {
			background-color: #000;
			outline-color: var(--principal);
			outline: 2px solid var(--black);
		}
		&:active {
			scale: .95;

		}
	}

	&-images {
		position: relative;
		flex: 1;
			@include media(768px) {
					display: block;
				}
	}

	&-image {
		position: absolute;
		height: 100%;
		object-fit:contain;
		object-position: center bottom;
		opacity: 0;
		transition: opacity 1s ease;
		@include media(768px) {
			background-color: red;
		}
	}

	&-image.active {
		opacity: 1;
	}
}