.advisories {
	background-color: var(--white);

	& .header-section {
		position: sticky;
		top: 0;
		z-index: 200;
		padding-top: 7rem;
		margin-bottom: 1rem;

		background-color: var(--white);

	}


	&-controls {
		@include flex(row, nowrap, center, center);
		gap: .5rem;
		padding: 1rem 0;
	}

	&-button {
		cursor: pointer;

		transform: scale(1);

		&.active {
			transition: all .3s ease;

			&:hover {
				transform: scale(1.1);
			}
		}

		&.inactive {
			cursor: default;
			filter: grayscale(1);
			opacity: .2;
		}
	}

	&-arrow {
		width: 3.2rem;
		height: auto;
		stroke: var(--primary);
	}

	&-programs {
		position: relative;
		height: 1400px;


		@include media(768px) {
			height: 1200px
		}

		@include media(480px) {
			height: 1600px
		}
	}

	&-program {
		position: absolute;
		z-index: 100;
		width: 100%;
		overflow: hidden;
		display: none;

		&>h5 {
			text-align: center;
			padding: 2rem 0;
			font-size: 1.4rem;
			font-weight: 600;
		}

		&.active {
			display: block;
		}
	}

	&-cover {

		max-width: 900px;
		margin: 0 auto;
		@include flex(row, nowrap, start, stretch);
		gap: 2rem;

		@include media(480px) {
			@include flex(column, nowrap, start, stretch);
			gap: 2rem;
		}


		&-image {
			min-width: 16rem;
			border-radius: 1rem;
			overflow: hidden;

			@include media(480px) {
				max-width: 200px;
				margin: 0 auto;
			}
		}

		&-content {

			@include flex(column, nowrap, center, start);
			gap: 1rem;

			@include media(480px) {
				padding: 0 1rem;
			}
		}

		&-title {
			font-size: 1.7rem;
			font-weight: 800;
			color: var(--primary);
		}

		&-description {
			font-size: 1rem;
		}

		&-bullets {
			@include flex(row, nowrap, start, center);
			gap: 1rem;
		}

		&-bullet {
			@include flex(row, nowrap, start, center);
			gap: .5rem;
		}

		&-svg {
			width: 1.2rem;
			height: 1.2rem;
			color: var(--primary);
		}

		&-text {
			text-align: left;
			font-size: 1rem;
		}

		&-buttons {
			@include flex(row, nowrap, start, center);
			gap: 1rem;

			& a {
				@include flex(row, nowrap, start, center);
				gap: .5rem;


				&:first-child {
					padding: 1rem;
					border-radius: 1em;
					background: var(--gradient-primary);
					color: var(--white);

					scale: 1;
					transition: all 0.2s ease;

					&:hover {
						background: var(--gradient-secondary);
						scale: 1.05;
					}

					&:active {
						background: var(--gradient-primary);
						scale: .95;
					}
				}

				&:last-child {
					font-size: .9rem;
					background-color: var(--white);
					color: #000;

					&:hover {
						color: var(--primary);
					}
				}



				& svg {
					width: 1.3rem;
				}
			}

		}
	}

	&-modules {

		@include flex(row, nowrap, start, top);
		gap: 1rem;

		scroll-behavior: auto;
		overflow-y: auto;
		overscroll-behavior-x: contain;
		scroll-snap-type: x mandatory;
		scrollbar-width: none;

		padding: 2rem;

		&::-webkit-scrollbar {
			display: none;
		}

		@include media(1024px) {
			padding: 1rem;
		}
	}

	&-module {
		min-width: 300px;
		border-radius: 1em;
		overflow: hidden;
		transition: all .6s ease;
		background-color: #FFF;

		&:hover {
			box-shadow: 0 0 1.5em rgba(0, 0, 0, .1);
		}

		&-image {}

		&-title {
			width: 80%;
			margin: 1rem auto;
			font-size: 1.2rem;
			font-weight: 600;

		}

		&-description {
			width: 80%;
			margin: 0 auto;
			padding-bottom: 1rem;
			font-size: 1rem;
			line-height: 1.5rem;
		}

	}

	&-delivery {

		max-width: 900px;
		padding: 3rem;
		border-radius: 1rem;
		width: 80%;
		margin: 1rem auto 0 auto;
		color: var(--white);

		background: var(--gradient-primary);

		@include media(1024px) {
			width: 90%;
			padding: 2rem;
		}

		@include media(768px) {
			width: 100%;
			padding: 1rem;
		}

		&-title {
			font-size: 1.2rem;
			font-weight: 600;
			margin-bottom: 1rem;
		}

		&-subtitle {
			margin-bottom: 1rem;
			@include flex(row, nowrap, start, center);
			gap: .5rem;

			& svg {
				width: 24px
			}
		}

		&-list {
			padding-left: 2rem;
			margin-bottom: 1rem;
			font-size: .9rem;
			line-height: 1.4rem;
		}

		&-bullet {
			list-style-type: disc;
			margin-bottom: .6em;
		}

	}
}