.testimonials {

	&-container {
		position: relative;
		width: 90%;
		max-width: 900px;
		margin: auto;

		overflow: hidden;

		@include media(768px) {
			width: 100%;
		}
	}
	
	&-slides {
		width: 500%;
		height: 500px;

		margin-left: -100%;

		@include flex(row, nowrap, start, center);

		@include media(480px) {
			height: 600px;
		}
	}
	&-slide {
		height: inherit;
		width: 100%;
		padding: 2rem;
		transition: all .5s ease;

		@include media(480px) {
				padding: 0 1rem;
			}

		&-content {
			@include flex(column, nowrap, center, center);
			gap: 1rem;
			outline: 1px solid var(--ligth-gray);
			border-radius: 1rem;
			text-align: center;
			padding: 2rem;

		
		}

	}

	
	&-image {
		max-width: 8rem;
	}
	&-name {
		font-size: 1.5em;
		font-weight: 600;
	}
	&-rol {
		color: var(--gray);
		font-size: .8em
	}
	&-paragraph {
		max-width: 560px;
		font-size: .9rem;
		line-height: 1.5rem;
	}
}
