.testimonials {
	&-slides {
		margin-bottom: 4rem;
	}
	&-slide {
		margin: 0 auto;
		max-width: 960px;
		padding: 6rem;
		border-radius: 1rem;
		text-align: center;
		border: 1px solid #f5f5f5;
		@include flex(column, nowrap, center, center);
		gap: 1rem;

		transition: all .6s ease;

		&:hover {
			box-shadow: 0 0 2em rgba(133, 106, 106, 0.12);
		}

		@include media(768px) {
			padding:4rem;
		}

		@include media(480px) {
			padding: 2rem;
		}
	}
	&-image {
		max-width: 8rem;
	}
	&-name {
		font-size: 1.5em;
		font-weight: 600;
	}
	&-rol {
		color: var(--gray);
		font-size: .9em
	}
	&-paragraph {
		max-width: 560px;
		line-height: 1.5rem;
	}
}
